* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #333333, #8739c0);
  width: 100vw;
  height: 100vh;
  user-select: none;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);

  .item {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3) {
      border-top: none;
    }

    &:nth-child(1),
    &:nth-child(4),
    &:nth-child(7) {
      border-left: none;
    }

    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9) {
      border-bottom: none;
    }

    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(9) {
      border-right: none;
    }

    &.x,
    &.o {
      cursor: not-allowed;
    }
  }

  &.x .item:not(.x, .o):hover::before,
  &.x .item:not(.x, .o):hover::after,
  .item.x::after,
  .item.x::before {
      content: '';
      width: calc(100px * 0.1);
      height: 90px;
      background-color: white;
      color: black;
      position: absolute;
    }

    &.x .item:not(.x, .o):hover::before,
    .item.x::before {
      transform: rotate(45deg);
    }

    &.x .item:not(.x, .o):hover::after,
    .item.x::after {
      transform: rotate(-45deg);
    }

    &.x .item:not(.x, .o):hover::before,
    &.x .item:not(.x, .o):hover::after,
    &.o .item:not(.x, .o):hover::after,
    &.o .item:not(.x, .o):hover::before {
      opacity: 0.2;
    }

    &.o .item:not(.x, .o):hover::after,
    &.o .item:not(.x, .o):hover::before,
    .item.o::after,
    .item.o::before {
      content: '';
      width: calc(100px * 0.85);
      height: calc(100px * 0.85);
      background-color: white;
      border-radius: 50%;
      position: absolute;
    }
}





.winning-message {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.7);
  font-size: 5rem;
  color: white;

  button {
    font-size: 2rem;
    background-color: #8739c0;
    padding: 20px;
    cursor: pointer;
    border: none;
    border-radius: 16px 0;
    color: white;
    margin-top: 32px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.85);

    &:hover {
      background-color: #aa48f0;
      transition: background-color 0.3s;
    }

    &:active {
      background-color: #59267d;
      transform: translate(2px, 2px);
      box-shadow: 1px 1px 10px rgba(0,0,0,0.85);
      transition: background-color 0.3s, transform 0.15s;
    }
  }
}
